# Entornos virtuales
env/
.venv/
__pycache__/

# Archivos temporales
*.pyc
*.pyo
*.log
*.tmp

# Ignorar archivos de configuración
.env

# Archivos de salida
salidas/

# No ignorar config.env
!config.env